body{
    background-image: url(./img/img_fundo.png);
}
header{
    color: #FFF;
}
header{
    background-color: #007c27;
    display: block;
    box-shadow: 1px 5px 5px black;
}
.negrito{
    font-weight: bold;
}
header:hover{
    box-shadow: 1px 5px 5px #d64100;
    transition: .5s;
}
#temporadaHelp, #leagueHelp{
    font-size: 10px;
    text-align: right;
}
figure{ 
    width: 10%;
}
figure img{
    height: 100px;
    float:left;
}

article {
    margin-top: 2%;
    width: 31.3%; 
    float: left;
    margin-left: 2%;
    

}
.dados section{
    cursor: pointer;
}
section{
    height: 100px;
    background-color: #FFF;
    width: 75%;
    border-radius: 5px 5px 5px;
    box-shadow: 3px 5px 5px black;
    margin-top: 8%;  
 
}
section:hover{
    box-shadow: 5px 5px 5px #007c27;
    transition: .5s;
}
section p{
    position: relative;
    top: 15%;
    left: 5%
}

.marcadores {
    height: auto;
    width: 80%;
}
.marcadores figure{
    position: relative;
    width: 100px;
    height: 165px;    
    float: left;
}
.marcadores img{
    margin-top: 25%;
    
}

.dadosTime section header{
    width: auto;
    height: 100px;
}

h5{
    text-align: center;
}
h5 img{
    width: 10%;
    float: right;
}
.dadosTime section{
    height: 1200px;
}

.dadosTime section article{
    width: auto;
    height: auto;
}
.dadosTime article p{
    width: auto;
    height: 10px;
}