body{
    text-align: center;
}
.coordenadas{
    left: 5vw;				
    width:90vw;
    height:50vh;
    background:#ccc;
    border:2px solid black;
    position:absolute;
}
.valores{
    position:absolute;
    font-size:30px;
    bottom:10px;
    width: 100%;
    left: 0;
    border-top: 1px dotted black;
    height: 50px;
    display: none;
}